@import url("https://fonts.googleapis.com/css?family=Varela+Round|Vast+Shadow");
body {
  background-attachment: fixed;
  background-image: url(../images/site/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Varela Round', sans-serif;
  margin: 1%;
  padding: 0;
  flex-direction:column;
}
 
header {
  background-color: #ffffff;
  display: block;
  padding: 20px 0 0 0;
  margin: 0 auto;
  max-width: 800px;
}
header nav {
  background-color: #de2226;
  letter-spacing: 2px;
  display: flex;
  width: 100%;
}
header nav ul {
  list-style-type: none;
  margin-left: -30px;
}
header nav ul li {
  display: inline-block;
}
header nav ul a, header nav ul a:visited {
  color: #ffffff;
  margin: 0 5px 0 0;
  padding: 10px 5px 16px;
  text-decoration: none;
}
header nav ul a:hover {
  background-color: #ffffff;
  color: #de2226;
}
 
.active-page {
  background-color: #ffffff;
  color: #de2226;
}
 
.account-link {
  color: #000000;
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 55px 0 0;
  text-decoration: none;
  }
 
a.account-link{
  vertical-align: bottom; 
}
img.account-link {
  padding-right:100px;
  width:80px;
  vertical-align: baseline;
  
  }

.account-link::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../images/site/account.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 16px;
  margin-left: -30px;
  margin-top: 3px;
  width: 23px;
}
 
.brand-pic {
  padding-left: 10px;
}
.brand-pic img {
  width: 200px;
}

  
 
main {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 10px;
}
 
.banner h1 {
  font-size: 3em;
  margin: 0 10px;
}
.banner .banner-content {
  background-image: url(../images/site/rocketfeature.jpg);
  background-size: cover;
  display: flex;
  height: auto;
  justify-content: flex-end;
  min-height: 355px;
}
.banner .banner-content-right {
  background-color: rgba(255, 255, 255, 0.1);
  color: #990033;
  display:block;
  width: 40%;
}
.banner .banner-content-right h2 {
  font-size: 2em;
  margin: 30px 0 0 10px;
  padding: 0;
}
.banner .banner-content-right ul {
  font-size: 1.5em;
  line-height: 1;
  list-style-type: none;
  margin: 0 0 25px 10px;
  padding: 0;
}
.banner .banner-content-right .button {
  margin: 0 0 0 10px;
}
 
.button {
  background-color: #F7F093;
  border: 1px solid #808080;
  border-radius: 10px;
  color: #000000;
  font-size: 25px;
  font-weight:bold;
  padding: 10px 45px;
  text-decoration: none;
}
 
footer {
  background-color: #ffffff;
  font-size: 14px;
  margin: 0 auto;
  max-width: 780px;
  padding: 10px 10px 3px 10px;
  text-align: center;
}
footer hr {
  background-color: #000000;
  border: none;
  height: 3px;
  margin: 0 0 0 0;
}
footer p {
  margin: 0;
}
 
.content-row {
  display: flex;
  margin-bottom: 10px;
  min-height: 100px;
  width: 100%;
}
 
.two-fifths {
  margin: 0 10px;
  width: 40%;
}
 
.three-fifths {
  margin: 0 10px;
  width: 60%;
}
 
.one-half {
  
  margin: 0 10px;
  width: 50%;
}
 
.recipe-thumbnail-container {
  
  display: flex;
  flex-direction: column;
  width: 100%;
}
 
.recipe-thumbnail-image {
  background-color: #808080;
  display: block;
  width: 100%;
}
.recipe-thumbnail-image img {
  display: block;
  margin: 5px auto;
}
 
.recipe-thumbnail-title {
  
  text-align: center;
  }
 
@media screen and (max-width: 690px) {
  body {
    padding: 0 10px 50px 10px;
  }
body {
    padding: 0 10px 50px 10px;
  }

  .banner .banner-content-right {
    background-color: #ffffff;
    width: 45%;
  }
  .banner .banner-content-right h2 {
    font-size: 1.5em;
  }
  .banner .banner-content-right ul {
    font-size: 1em;
  }
  .banner .banner-content-right .button {
    font-size: 20px;
    padding: 5px 15px;
  }
 
  #featured-recipes {
    flex-wrap: wrap;
    order: 2;
  }
 
  #reviews {
    flex-wrap: wrap;
    order: 1;
  }
 
  .content-row {
    flex-wrap: wrap;
    width: 100%;
  }
 
  .two-fifths {
    margin: 0 10px;
    width: 100%;
  }
 
  .three-fifths {
    margin: 0 10px;
    width: 100%;
  }
 

  
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  max-width: 80px;
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 1.2rem;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  background-color:#e;
  padding: 16px;
  border:12px solid #363636;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
  .one-half {
    width: 40%;
    }
    .inputinvalid,
    .textareainvalid {
        border: 1px solid #ff0000;
        background-color: #ffcece;
    }
    .inputvalid,
    .textareavalid {
        background: #ddf8dd;
        box-shadow: 0 0 5px #5cd053;
        border-color: #28921f
    }
    /* Form Formatting */
    #registrationform,
    #passwordform,
    #loginform {
        width: calc(75%);
        margin: 0 auto;
    }
    fieldset {
        width: 40em;
        margin: 10px 10px 30px 10px;
        border: 0 none;
    }
    fieldset div {
        margin: 4px 0;
        padding: 10px 0;
    }
    input,
    textarea,
    select {
        font-size: 1em;
        padding: 2px 5px 4px;
        border: 1px solid #cecece;
        border-radius: 2px;
    }
    input[type="submit"] {
        background-color: #ee3333;
        color: #fff;
        font-weight: 700;
        padding: 15px 30px;
        width: calc(55%);
    }
    .linkbutton {
        background-color: #ee3333;
        color: #fff;
        font-weight: 700;
        padding: 15px 30px;
        width: calc(55%);
        text-align: center;
    }
    input[type="button"] {
        background-color: #199e1b;
        color: #421aa8;
        font-weight: 700;
        padding: 15px 30px;
        width: calc(55%);
    }
    /* flexbox styles for forms */
    fieldset div {
        display: flex;
        align-items: center;
    }
    label {
        order: 1;
        width: 12rem;
        text-align: right;
        padding-right: 0.5rem;
        white-space: nowrap;
        cursor: pointer;
    }
    input,
    textarea,
    select {
        order: 2;
        flex-basis: 15em;
        flex-grow: 0;
        flex-shrink: 1;
    }
    /* label state styles */
    input:focus~label,
    textarea:focus~label,
    select:focus~label {
        color: #933;
        font-weight: 700;
    }
    input:checked~label {
        font-weight: 700;
    }
    .input-group-addon {
        display: flex;
        align-items: flex-start;
        order: 2;
        padding-right: 3px;
    }
    .input-group .input-group-addon .fa {
        background-color: #ebf2f9;
        padding: 5px;
    }